* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  font-family: sans-serif;
  margin: 0;
}

.nav-bar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.container {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
}
.nav-bar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-left: 900px;
}

.nav-bar a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.1em;
  padding: 5px 10px;
  transition: color 0.3s;
}

.nav-bar a:hover {
  color: #ef0a0a;
}

.sessao-1 {
  flex: 1;
  background-color: #f4f4f4;
  height: 70vh;
  padding: 20px;
}

.sessao-2 {
  flex: 1;
  background-color: #ae2727;
  height: 70vh;
  padding: 20px;
}

.sessao-3 {
  flex: 1;
  background-color: #e0a607;
  height: 70vh;
  padding: 20px;
}

.container-footer {
  padding: 20px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.container-main-footer {
  background-color: #ae2727;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-direitos{
  
}